/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;900&family=Ubuntu:wght@300&display=swap');
/* whole elment styling */
body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
h1{
    font-family: "Montserrat", sans-serif;
}
h2{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.5;
}
/* headings */
.main-head{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: whitesmoke;
}
.flippin-head{
    text-align: center;
    font-weight: 600;
    position: relative;
}
/* section styling */
#title{
    background-color: #ff4c68;
}
#features{
    background-color: #FF7878;
}
/* navigation bar */
.bg-custom{
    background-color: #EA5455; 
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}
.nav-item{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 200;
}
/* heading */

.container-fluid{
    padding:3% 15%;
}
/* title images */
@media (max-width: 991px){
    .title-img{
        position: relative;
        left: 50%;
    }
    .back{
        position: absolute;
        right: 50%;
    }
}
/* images in download buttons */
.inline-block{
    display: inline-block;
    width: 2rem;
}
/* class to give padding to buttons */
.download-button{
    padding: 3%;
    margin: 3% 5% 3% 0;
}
/* feature section style */
.check-circle-style{
    font-size:10rem;
    color: #8C0000;
}
.bullseye-style{
    font-size:10rem;
    color: #8C0000;
}
.heart-style{
    font-size:10rem;
    color: #8C0000;
}
.check-circle-style:hover{
    color: #FF2626;
}
.bullseye-style:hover{
    color: #FF2626;
}
.heart-style:hover{
    color: #FF2626;
}
h3.feat-sec{
    color: #EEEBDD;
    font-weight: bold;
    line-height: 1.2;
}
p.feat-sec{
    color: white;
    font-weight: 300;
    line-height: 2;
}
/* testimonial section styling */
#testimonials{
    background-color: #ff4c68;
    color: whitesmoke;
}

.testi-img-styling{
    width: 10rem;
    border-radius: 100%;
    margin: 14px;
}
.testimonials-height-fix{
    width: 100%;
    height: 26.5rem;
}
.carousel-control-prev-icon{
    margin-top: 20rem;
    height: 6rem;
    width: 4rem;
}
.carousel-control-next-icon{
    margin-top: 20rem;
    height: 6rem;
    width: 4rem;
}
/* Press section styling */
#press{
    background-color: #FF7878;
    text-align:center;
}
.press-img-styling{
    width: 13%;
    margin: 0 5% 0;
}
.press-img-styling:hover{
    width: 13.5%;
    transition: 0.5s;
}
/* flipping the image */
.outer {
    background-color: transparent;
    width: 18.75rem;
    height: 45rem;
    perspective: 62.5rem;
}
  
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}  
.outer:hover .inner {
    transform: rotateY(180deg);
}
.front, .back {
    position: relative;
    width: 100%;
    height: 18.75rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front {
    background-color: transparent;
    color: black;
}
.back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}
/* pricing section styling */
#pricing{
    background-color: #ff4c68;
    color: #fff;
}
.card-header{
    background-color: #ff4c68;
    color: aliceblue;
}
.card-body{
    background-color: #FEE3EC;
    color: #ff4c68;
}
.card{
    margin: 2rem 1.5rem;
}
/* cta section styling */
#cta{
    background-color: #FF7878;
    text-align:center;
}
.cta-head{
    color: #FFF8F3;
    padding-bottom: 1.5%;
}
.cta-android{
    margin-right: 0.5rem;
    padding: 1%;
}
.cta-apple{
    margin-left: 0.5rem;
    padding: 1%;
}
.custom-cta{
    padding-top: 2%;
}
/* footer section styling */
.footer{
    padding-top: 1%;
    padding-bottom: 0.1%;
}
#footer{
    background-color: #ff4c68;
}
.copyright:hover{
    color: #F5F5F5;
}
.fa-twitter:hover, .fa-facebook-f:hover, .fa-instagram:hover, .fa-envelope:hover{
    color: snow;
}